*{
    padding: 0;
    margin:0;
    
}
.title-main{
    width: 100vw;
    height:30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
.title-cnt{
    font-family: 'Righteous', cursive;
    font-size: 30px;
    letter-spacing: 2px;
    color: red;
}